<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 footer">
            <div class="row d-flex justify-content-center">
                <h1 class="footerlogo">OFFTHESTREET</h1>
            </div>
            <div class="row socials d-flex justify-content-center">
                <a href="https://www.facebook.com/OFF-The-Street-179411619501812"><img class="social-media" src="images/facebook.png" alt="facebook.com"></a>
                <a href="https://www.instagram.com/offthestreetph_/"><img class="social-media" src="images/instagram.png" alt="facebook.com"></a>
                <a href="https://www.twitter.com/OffTheStreetPh"><img class="social-media" src="images/twitter.png" alt="facebook.com"></a>
            </div>
            <div class="row d-flex justify-content-center">
                <a href="privacy" class="footerlinks">Privacy Policy</a>
                <a href="terms" class="footerlinks">Terms and Conditions</a>
            </div>
            <div class="row d-flex justify-content-center">
                <h1 id="copyright">Off The Street ©</h1>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>