<!DOCTYPE html>
<head>
    <title>Off The Street</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/about-styles.css">
</head>
<body>
    <!-- Navbar -->
    {{> navbar}}

    <!-- Body -->
    <div class="container">
        <p class="heading title">Terms and Conditions</p>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum nec orci vitae bibendum. Phasellus non dolor non eros bibendum efficitur vestibulum non tellus. Morbi aliquam ex magna, in pellentesque quam malesuada auctor. Etiam tempor auctor orci, id malesuada lorem tincidunt in. Fusce tincidunt eget nulla vitae feugiat. Nullam iaculis id risus sed efficitur. Vivamus tempor ipsum nec odio efficitur, pretium laoreet turpis pretium. Aliquam rhoncus, eros bibendum interdum porta, dui lacus pretium lorem, vehicula sagittis leo purus a nunc.</p>
        <p class="content">Sed sit amet urna lectus. Donec blandit iaculis diam, non scelerisque turpis ullamcorper sed. Aliquam ullamcorper ultrices ante nec iaculis. Morbi id cursus nisl. Etiam ut euismod magna. Donec tempor, eros ut commodo interdum, libero felis interdum felis, aliquam facilisis sem velit non sem. Nullam tincidunt suscipit egestas. Etiam vulputate ex a ante faucibus convallis. Quisque sit amet velit pulvinar, condimentum nisl hendrerit, viverra lorem. In semper, orci in dictum aliquet, velit nibh suscipit mi, at scelerisque nibh purus vitae sapien. In accumsan congue odio, nec ultricies mauris dictum in. Praesent blandit, leo iaculis ullamcorper auctor, nulla erat posuere magna, non ultrices metus lorem quis urna.</p>
    </div>

    <!-- Footer -->
    {{> footer}}
</body>
</html>